.register-container {
  max-width: 650px;
  margin: auto;
  background: white;
  padding: 130px;
  border-radius: 25px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border: 4px solid var(--primary-color);
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}

.register-container h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 35px;
  text-align: center;
}

.register-container .input-container {
  margin-bottom: 25px;
}

.register-container .input-field {
  width: 100%;
  padding: 18px;
  font-size: 22px;
  border: 3px solid #aaa;
  border-radius: 15px;
  text-align: left;
  outline: none;
  transition: border-color 0.2s ease-in-out, background-color 0.3s;
  background-color: #fff;
}

.register-container .input-field:focus {
  border-color: var(--primary-color);
  background-color: #f5ffe0;
}

.register-container .button {
  display: block;
  width: 55%;
  padding: 18px;
  font-size: 24px;
  background-color: var(--secondary-color);
  color: #333;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  margin: 35px auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.register-container .button:hover {
  background-color: white;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  transform: scale(1.07);
}

.register-container .button:active {
  transform: scale(0.95);
}

.register-container .button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
}

.register-container .message {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}

.register-container .message.success {
  color: green;
}

.register-container .message.error {
  color: red;
}

.register-container .back-button {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  padding: 12px;
  font-weight: bold;
}

.register-container .back-button:hover {
  color: #0056b3;
}

/* 단계 표시 화살표 스타일 */
.step-arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent; /* 높이의 절반 */
  border-bottom: 20px solid transparent; /* 높이의 절반 */
  border-left: 20px solid #e5e7eb; /* 배경색과 화살표 너비 */
  margin-left: -1px; /* 이전 단계와 겹치도록 */
  margin-right: -1px; /* 다음 단계와 겹치도록 */
  z-index: 5; /* 회색 배경보다 앞에 오도록 */
}

/* 입력 필드 그룹에 라벨 추가 (선택 사항) */
.input-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px; /* 라벨 크기 조정 */
  font-weight: 500;
  color: #4A5568; /* 라벨 색상 조정 */
} 